@import "../variables.scss";
@import "../mixins.scss";

.map-view {
  width: 100vw;
  height: 100vh;

  header {
    height: 50px;
    background: $light-black;
    display: flex;

    .back-container {
      display: flex;
      align-items: center;
      padding-left: 10px;
      color: $background;
      cursor: pointer;

      img {
        height: 25px;
      }

      span {
        text-transform: uppercase;
        margin-left: 5px;
      }
    }
  }

  #map {
    height: calc(100vh - 50px);

    .iw-closebutton {
      right: 38px !important;

      @include media-max-width(600px) {
        right: 0 !important;
      }
    }

    .gm-style-iw {
      width: $nonmobile-igw !important;
      top: 15px !important;
      left: 0px !important;
      background-color: #fff;
      box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
      border: 1px solid $light-black;
      border-radius: 2px 2px 10px 10px;

      @include media-max-width(600px) {
        width: $mobile-igw !important;
      }

      > div:first-child {
        max-width: $nonmobile-igw !important;

        @include media-max-width(600px) {
          width: $mobile-igw !important;
        }
      }

      .restaurant-content {
        .restaurant-background {
          width: $nonmobile-igw;
          height: 100px;
          object-fit: cover;
        }

        .restaurant-name {
          margin: 5px 0 0 10px;
          color: $light-black;
          font-size: 26px;
          float: left;
          max-width: 250px;
          line-height: 120%;

          @include media-max-width(600px) {
            max-width: 150px;
          }
        }

        .rating {
          float: right;
          margin-right: 20px;
          margin-top: 5px;
          display: flex;
          flex-direction: column;

          .rating-box {
            color: $background;
            font-size: 16px;
            border-radius: 3px;
            padding: 3px 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;

            > span {
              font-size: 14px;
              opacity: .8;
              vertical-align: middle;
              font-weight: 400;
            }
          }

          > span {
            font-size: 9px;
            text-align: center;
            margin-top: 4px;
          }
        }

        .main-content {
          clear: both;
          margin-left: 10px;
          padding-bottom: 10px;

          .availability {
            p {
              margin: 7px 0;
              display: flex;
              align-items: center;
              color: $light-black;

              img {
                height: 12px;
              }

              span {
                margin-left: 7px;
                font-weight: 300;
              }
            }
          }
          .actions {
            display: flex;

            a {
              background: $light-black;
              margin-right: 14px;
              color: white;
              padding: 5px;
              text-decoration: none;

              &:last-child {
                margin-right: 0;
              }
            }
          }

          > h3 {
            color: $light-black;
            margin: 10px 0 5px;
          }

          > p {
            color: $light-black;
            margin: 0;
          }
        }
      }
    }
  }
}