@import '../variables.scss';

.home {
  display: flex;
  display: flex;
  justify-content: center;

  .title {
    color: $light-black;
  }

  .or-divider {
    display: flex;
    color: $light-black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin: 1em;
    min-width: 300px;

    &::before,
    &::after {
      content: '';
      height: .070em;
      background: $light-black;
      flex: 1;
    }

    &::before {
      margin: 0 .25em 0 0;
    }

    &::after {
      margin: 0 0 0 .25em;
    }
  }

  .location-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .near-me {
      padding: 10px;
      background: $blue;
      color: $background;
      border: 2px solid $light-blue;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      overflow:hidden;
      cursor: pointer;
      border-radius: 30px;

      &:focus {
        outline: 0;
      }
    }

    .error {
      color: #c0392b;
    }
  }

  .input-container {
    input {
      border: 1px solid $light-black;
      padding: 10px;
      outline: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    button {
      padding: 10px;
      background: $light-black;
      color: #ecf0f1;
      border: 1px solid $light-black;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left: 0;

      &:focus {
        outline: 0;
      }
    }
  }
}